<?
$recaptcha_public = "testkjkj";
$recaptcha_private = "lskdjfdskdfjk";
$aanmeld_secret = "kjkdsfjdkdjfdkjd";
$pw_reset_secret = "sdkjkdfjdkj";
$mysql_server = 'localhost';
$mysql_username = 'klassenboek';
$mysql_password = 'kjkdsjdkjflkjdkjkjflkjdksjkj';
$mysql_database = 'klassenboek';
?>
